@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Michroma&display=swap');

.herotext {
    font-family: 'Dancing Script', cursive;
    font-family: 'Great Vibes', cursive;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Michroma', sans-serif;
}
.logoup{
    color: rgb(255, 16, 179);
}
.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
    padding: 0;
    /* From https://css.glass */
    /* From https://css.glass */

}
.background-nav{
    background: rgba(255, 255, 255, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
border: 1px solid rgba(255, 255, 255, 0.26);
}